# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
tmp/
*.tmp

# Docker files
*.tar
*.tar.gz

# Environment variables file
.env
.env.*
